body {
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
    font-size: 1.4rem;
}
.am-cs-mess-con{
   /* max-height: 720px;
    min-height: 300px;*/
}
.am-cs-mess{
    height: 70%;
    min-height: 504px;
    max-height: 504px;
    overflow-y: auto;
   /* border: 1px solid #dedede;*/
    border-radius: 0;
}
.am-cs-user{
    position: absolute;/*top: 50%;transform: translate(-50%, 0);*/
    z-index: 101;
}
#editor div {
    z-index: 100 !important;
}
#editor:empty:before{
    content: attr(placeholder);
    color:#bbb;
}
#editor:focus:before{
    content:none;
}
.user-list li{
    cursor: pointer;
}
.chat-content li, .chat-content div{
    border: none !important;
}